.hero-image-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .hero-image-content {
    position: absolute;
    top: 30%;
    left: 7.5%;
    text-align: left;
    color: white;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .hero-image-content h1 {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -0.05em;
    background-color: white;
    background-image: radial-gradient(100% 100% at top left, white, white, rgba(32, 50, 130, 0.5));
    color: transparent;
    background-clip: text;
  }
  
  .hero-image-content h1 span{
    color: rgba(255, 255, 255, 0.7)
  }

  .hero-image-content p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    
  }
  

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 55%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.4) 85%,
    rgba(0, 0, 0, 0.8) 100%
  );
  }
